# data
data/synthetic/
data/real/

# outputs
outputs/plots/

# python
__pycache__/
*.pyc
*.pyo

# jupyter
.ipynb_checkpoints/

# anaconda
.conda/

# mac
.DS_Store

# api
api/venv/

# web
web/node_modules/
